/* * {
  border: 1px solid red;
} */

.page {
  width: 100%;
  background-color: #2a2c2f;
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* @media screen and (min-width: 1281px) {
  .page {
      background-color: green;
  }
}


@media screen and (max-width: 1024px) {
  .page {
      background-color: yellow;
  }
}

@media screen and (max-width: 768px) {
  .page {
      background-color: orange;
  }
}

@media screen and (max-width: 425px) {
  .page {
      background-color: red;
  }
} */
