.photo-grid {
  display: grid;
  box-sizing: border-box;
  width: calc(1184/1280*100%);
  padding-top: 92px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 16px;
  column-gap: 16px;
}
