.photo-grid {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  padding-top: 92px;
  padding-left: 48px;
  padding-right: 48px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 16px;
  column-gap: 16px;
}
