.footer__link {
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  color: #ffffff;
  margin-right: 18px;
}

@media screen and (max-width: 753px) {
  .footer__link {
    margin-bottom: 32px;
  }
}
