.intro {
  display: block;
  width: calc(984 / 1280 * 100%);
  box-sizing: border-box;
  padding-top: 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: calc(928 / 1024 * 100%);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(720 / 768 * 100%);
    padding-top: 88px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    width: calc(288 / 320 * 100%);
    padding-top: 64px;
  }
}
